<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757465061219-q5404cugb61elv7sels3qjgpc090ra7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757465061219-q5404cugb61elv7sels3qjgpc090ra7s</string>
	<key>API_KEY</key>
	<string>AIzaSyCcZ-wnfo0tJr5AraZ98Cv6_pvxcVFxN8g</string>
	<key>GCM_SENDER_ID</key>
	<string>757465061219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.btad</string>
	<key>PROJECT_ID</key>
	<string>btad-4b72d</string>
	<key>STORAGE_BUCKET</key>
	<string>btad-4b72d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757465061219:ios:b8d8697f7c4c5171bde556</string>
</dict>
</plist>